#header{
  background-color: #FAFAFA

}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color:  #FAFAFA;
  font-size: 17px;
}

.navbar a {

  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.Column{
  float: left;
  width: 25%;
  padding: 10px;
}

.Column img {
  opacity: 0.9;
  max-width:100%;
  max-height:100%; 
  cursor: pointer; 
}

.Column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.Container {
  position: relative;
  display: none;
  padding-top: 18%;
}

.projectcontainer1 {
  padding-top: 2%;
}

.projectcontainer2{
  padding-top: 20%;
}

.projectinfo{
  margin-left: 3%;
  margin-right: 3%;
  color: #fffdfb;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 175px;
  right: 5px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  opacity: 0.8;
}

.closebtn:hover{
  opacity: 1
}

h1{
  padding-top: 1%;
  font-family: 'Montserrat', sans-serif;
}
#pic-section{
  background-color: #262E42
}

#dp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  width: 300px;
}

#about{
  background-color: #953939;
  height: 100%;
}

p{
  padding-top: 2%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #FDF8F8;
}

#console{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #0D0E10;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
  border-radius: 5%;
}
.console-text{
  padding-top: 3%;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #D4D0CE;
}

#cv{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

form{
  float: right;
}
